<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Welcome to Vector-06C Web Server!</title>
    <link rel="stylesheet" type="text/css" href="style.css">  
  </head>
  <body bgcolor="#fffeec" text="black">

  <div class="menu">
  <div class="menubox"><a href="/">Front page</a></div>
  <div class="menubox"><a href="files.shtml">File statistics</a></div>
  <div class="menubox"><a href="stats.shtml">Network statistics</a></div>
  <div class="menubox"><a href="tcp.shtml">Network
  connections</a></div>
  <br>
  </div>
  
  <div class="contentblock">
