h1 {
  text-align: center;
  font-family:arial,helvetica;
  font-weight:bold;
}
h2 {}

body {
  background-color: #448; 
  color:yellow;
  font-family:arial,helvetica;
}

.butt {
    background-color: #444;
    color: #eee;
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
}

.butt:hover {
    background-color: #887;
    color: #eee;
    cursor: pointer;
}

#th {
    font-size: larger;
    background-color:#bba;
    color:#444;
    border-radius: 0.4em;
    padding: 1em;
    display: inline-block;
}

span.on {
    font-family:monospace;
    color: #f10;
    padding: 1em;
}
span.off {
    font-family:monospace;
    color: #610;
    padding: 1em;
}
#ledx {
    display:inline-block;
    width:4em;
    text-align: center;
}

.menu
{
  margin: 4px;
  padding:8px;
	
  border: solid 1px;
  background-color: #55a;
  text-align:left;
  
  font-size: larger;
  font-family:arial,helvetica;  
}

div.menubox
{
  width: 25%;
  border: 0px;
  float: left;
  text-align: center;
}

.contentblock
{  
  margin: 4px;
  padding:20px;

  border: 1px dotted;
  background-color: #228;

  font-family:arial,helvetica;  

}

p.intro
{
  margin-left:20px;
  margin-right:20px;

  font-size:10pt;
  font-family:arial,helvetica;  
}

p.clink
{
  font-size:12pt;
  font-family:courier,monospace;  
  text-align:center;
}

p.clink9
{
  font-size:9pt;
  font-family:courier,monospace;  
  text-align:center;
}

p.right
{
  text-align:right; 
}

a { color: white; }

#pompaient {
    float: right;
    text-align: center;
    width: 200px;
    padding-right: 2em;
}

#porc {
    font-size: small;
}
